.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content button {
    color: black;
    padding: 12px 16px;
    min-width: 100%;
    /* height: 30px; */
    background-color: rgb(240, 255, 240);
    text-decoration: none;
    display: block;
}

.dropdown-content button:hover {
    background-color: #ddd
}

.show {
    display: block;
}

.cell {
    width: 20px;
    height: 20px;
    border: 1px dotted rgb(224, 243, 243);
    padding: 0;
    float: left;
    display: table-column;
    background-color: rgb(255, 255, 255);
}

.table-row {
    display: table-row;
}

#main {
    margin: auto;
    display: table;
    width: auto;
    border: 1px solid rgb(224, 243, 243);
}

#button-container {
    text-align: center;
}

.wall {
    background-color: rgb(102, 110, 123);
    background-position: center;
}

.seen {
    background: url("plum_square.png");
    animation: mymove 200ms 1;
    background-position: center;
}

@keyframes mymove {
    from {
        background-size: 0%;
        background: url("purple_square.png");
    }
    to {
        background-size: 100%;
        background: url("plum_square.png");
    }
}

.isPath {
    background: url("yellow_square.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    animation-name: expandBackground;
    animation-duration: 200ms;
}

.end {
    background: url("green_square.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    animation-name: expandBackground;
    animation-duration: 200ms;
}

.start {
    background: url("red_square.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    animation-name: expandBackground;
    animation-duration: 200ms;
}

@keyframes expandBackground {
    from {
        background-size: 0%;
    }
    to {
        background-size: 100%;
    }
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.clear {
    background-color: rgb(255, 100, 100);
}
