/* Dropdown Button */

.dropbtn {
    background-color: #3498DB;
    color: white;
    width: 100px;
    height: 30px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */

.dropdown-content button {
    color: black;
    /* padding: 12px 16px; */
    width: 100px;
    height: 30px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */

.dropdown-content button:hover {
    background-color: #ddd
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */

.show {
    display: block;
}

.cell {
    width: 20px;
    height: 20px;
    border: 1px dotted rgb(224, 243, 243);
    padding: 0;
    float: left;
    /* fix for  buggy browsers */
    display: table-column;
    /* width: 200px; */
    background-color: rgb(255, 255, 255);
}

.table-row {
    display: table-row;
}

#main {
    margin: auto;
    display: table;
    width: auto;
    background-color: #eee;
    border: 1px solid #ff0000;
    /* border-spacing: 5px; */
    /* cellspacing:poor IE support for  this */
}

#button-container {
    text-align: center;
}

#clearTable {
    background-color: #ff0000;
    color: white;
    width: 100px;
    height: 30px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

#clearPaths {
    background-color: #ff0000;
    color: white;
    width: 100px;
    height: 30px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.wall {
    background-color: rgb(102, 110, 123);
}

.seen {
    background-color: plum;
    animation: mymove 1s 1;
}

@keyframes mymove {
    from {
        background-color:rgb(255, 88, 255);
    }
    to {
        background-color: plum;
    }
}

.isPath {
    background-color: yellow;
}

.end {
    background-color: green;
}

.start {
    background-color: red;
}
